body {
	width: 100%;
	height: 100%;
}

.rectangle {
	width: 100%;
	height: 200px;
	background: rgb(250,236,116);
}

img {
	margin-left: -80px;
	margin-top: -265px;
}

h1 {
	font-family: 'Avenir';
	font-size: 75pt;
	font-style: bold;
	color: white;
	text-align: left;
	margin-left: 800px;
	margin-top: -190px;

}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff9933;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 500px;
  margin-top: 150px;
}

.button: hover {
	background-color: #3E8E41;
}

.button: active {
	background-color: #3E8E41;
	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}