body {
	margin:0;
  	padding:0;
}

.rectangle {
	width: 100%;
	height: 200px;
	background: rgb(244,161,131);
}


.logo {
	display: block;
	top: 0;
	left: 0;
	display: inline-block;
}

.logo img {
	position: relative;
	max-width: 100%;
	width: auto;
	height: 38vh;
	top: 0;
	left: 0;
}

h1 {
	position: relative;
	font-family: 'Avenir';
	font-size: 75pt;
	font-style: bold;
	color: white;
	text-align: right;
	width: 75%;
	float: right;
	top: 85px;
}

.boxes {
	clear: both;
}
.box {
	position: relative;
	float: left;
	width: 33%;
	text-align: center;
	padding: 10px;
}

.box img {
	opacity: 1;
	display: block;
	max-width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover img {
  opacity: 0.2;
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
}

h2 {
	font-family:'Avenir';
	font-size: 18pt;
	margin-left: 20px;

}

@media(max-width:768px) {

  .rectangle {
    height: 15vh;
  }
  .logo img{
    height: 18vh;
  }

  h1 {
    font-size: 30pt;
    top: -65px;
  }

  h2 {
  	font-size: 10pt;
  	margin-left: 10px;
  	margin-top: 5px;
  }

  .text {
  color: black;
  font-size: 8px;
}

}