body {
	width:auto; 
	height: 640px;
}

h1 {	
	font-family: 'Arial', sans-serif;
	font-size: 40pt;
	margin-left: 200px;
}

h2 {
	font-family: 'Arial', sans-serif;
	font-size: 20pt;
	margin-left: 200px;

}


.image1 {
	margin-top: 200px;
	margin-left: 50px;
	float: left;
}

.image2 {
	margin-top: 550px;
	margin-left: -250px;
	float: left;
}

.image5 {
	margin-top: 880px;
	margin-left: -250px;
	float: left;
}

.image7 {
	margin-top: 1170px;
	margin-left: -250px;
	float: left;
}

.image3 {
	margin-top: 200px;
	margin-left: 50px;
	margin-right: 170px;
	float: right;
}

.image4 {
	margin-top: 60px;
	margin-left: 200px;
	margin-right: 170px;
	float:right;
}

.image6 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 180px;
	float: right;
}

.image8 {
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 80px;
	float: right;
}

